# Import packages

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

# Load Data

In [2]:
df = pd.read_csv('data/raw_data.csv', index_col='user_id')
df = df.iloc[:, 3:]
df

,Gims,Kaaris,Maes,Booba,Ninho,Guy2bezbar,Leto,Koba la D,Damso,Freeze Corleone,Vald,Nekfeu,Zola,JUL,Niska,Sofiane,Fresh,Lomepal,Hamza,Laylow
user_id,,,,,,,,,,,,,,,,,,,,
1,2,3,3,2,5,5,4,5,5,3,4,4,5,1,5,3,3,1,3,3
2,2,2,3,2,3,1,3,2,4,3,3,5,3,2,4,3,1,3,3,5
3,2,2,4,3,3,1,3,2,5,5,4,5,4,4,4,4,1,2,2,4
4,2,3,3,2,4,3,4,4,2,4,5,4,5,1,2,2,1,3,2,4
5,2,2,3,3,5,3,4,3,4,5,3,4,3,2,4,3,3,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
136,1,1,2,1,2,2,2,2,2,2,2,2,2,1,2,2,2,2,2,2
137,3,1,2,5,5,3,3,1,1,2,2,1,1,4,3,3,2,1,1,1
138,3,1,2,3,2,1,1,2,1,1,1,2,1,2,3,1,1,3,1,1
139,1,2,1,3,2,1,1,3,4,1,3,4,1,3,3,1,1,4,3,1

# Nearest user

In [3]:
df_distance_user = pd.DataFrame(
    squareform(pdist(df.values)),
    columns = df.index,
    index = df.index
)

In [4]:
def get_n_nearest_user(df_distance_user, id_user, n_user):
    distance_one_user = df_distance_user[id_user].sort_values().reset_index()[1:]
    distance_one_user.columns = ['user_id', 'distance']
    list_nearest_user = list(distance_one_user.iloc[:n_user]['user_id'])
    return list_nearest_user

In [5]:
get_n_nearest_user(df_distance_user, id_user=20, n_user=5)

[130, 5, 81, 63, 87]

In [6]:
df.loc[[20, 130, 5, 81, 63, 87]]

,Gims,Kaaris,Maes,Booba,Ninho,Guy2bezbar,Leto,Koba la D,Damso,Freeze Corleone,Vald,Nekfeu,Zola,JUL,Niska,Sofiane,Fresh,Lomepal,Hamza,Laylow
user_id,,,,,,,,,,,,,,,,,,,,
20,1,3,1,3,5,2,3,2,4,5,5,3,2,3,4,3,1,2,2,2
130,2,2,2,2,5,1,2,2,4,4,4,3,3,1,5,3,1,1,3,2
5,2,2,3,3,5,3,4,3,4,5,3,4,3,2,4,3,3,1,3,3
81,2,2,2,4,2,1,1,1,4,4,4,3,1,4,4,3,1,2,3,2
63,1,3,4,4,5,2,3,2,5,5,5,5,3,5,4,1,1,1,3,2
87,1,2,4,1,5,1,3,3,4,3,5,4,3,2,4,3,1,3,3,1

# Reco

In [7]:
list_all_favorite_artist = list(df[df >= 4].apply(lambda x: list(x.dropna().index), axis=1).values)
df['favorite_artist'] = [", ".join(i) for i in list_all_favorite_artist]

In [8]:
correlation_matrix = df.corr()

C:\Users\flore\AppData\Local\Temp\ipykernel_26652\3450543936.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = df.corr()

In [9]:
def get_reco_one_rappeur(correlation_matrix, rappeur, n_rappeur):
    return list(correlation_matrix[rappeur].sort_values(ascending=False)[1:n_rappeur+1].index)

In [13]:
def get_reco_rappeur_all_favorite(favorite_artist, correlation_matrix):
    if len(favorite_artist) > 0:
        rappeur_reco = []
        for rappeur in favorite_artist:
            rappeur_reco.extend(get_reco_one_rappeur(correlation_matrix, rappeur, 2))

        rappeur_reco = list(set(rappeur_reco))
        rappeur_reco = [rappeur for rappeur in rappeur_reco if rappeur not in favorite_artist]
        rappeur_reco = ", ".join(rappeur_reco)
    else:
        rappeur_reco = "Pas d'artiste à recommander"

    return rappeur_reco

In [14]:
reco = []
for favorite_artist in list_all_favorite_artist:
    reco.append(get_reco_rappeur_all_favorite(favorite_artist, correlation_matrix))

In [16]:
df['reco'] = reco

In [17]:
df[['favorite_artist', 'reco']]

,favorite_artist,reco
user_id,,
1,"Ninho, Guy2bezbar, Leto, Koba la D, Damso, Val...","Freeze Corleone, Laylow, Maes, Lomepal"
2,"Damso, Nekfeu, Niska, Laylow","Maes, Vald, Hamza, Zola, Ninho, Lomepal"
3,"Maes, Damso, Freeze Corleone, Vald, Nekfeu, Zo...","Leto, Lomepal, Hamza, Kaaris, Ninho"
4,"Ninho, Leto, Koba la D, Freeze Corleone, Vald,...","Maes, Lomepal, Hamza, Niska, Damso"
5,"Ninho, Leto, Damso, Freeze Corleone, Nekfeu, N...","Maes, Vald, Lomepal, Zola, Laylow"
...,...,...
135,,Pas d'artiste à recommander
136,,Pas d'artiste à recommander
137,"Booba, Ninho, JUL","Niska, Kaaris, Maes"
138,,Pas d'artiste à recommander
139,"Damso, Nekfeu, Lomepal",Vald

In [21]:
10/24/2022 15:08;"Un homme";"18-25 ans";"Entre...

In [37]:
pd.read_csv('bdd_gaspard_lili.csv', encoding = "latin", sep=';')

,Horodateur,Sexe,Age,Nombre film,Film 1 : MATRIX,Film 2 : STAR WARS : EPISODE VI - LE RETOUR DU JEDI,Film 3 - VERY BAD TRIP,Film 4 : Bienvenue chez les Ch'tis,Film 5 : AVATAR,Film 6 : Qu'est-ce qu'on a fait au Bon Dieu ?,...,Film 11 : LES EVADES,Film 12 : PSYCHOSE,Film 13 : LE VOYAGE DE CHIHIRO,Film 14 : ALIEN,Film 15 : TOY STORY,Film prefere,deuxieme film,genre film,deuxieme genre,genre film 2
0,24/10/2022 15:08,Un homme,18-25 ans,Entre 1 et 3,2,3,3,2,4,2,...,4,4,4,4,4,A la recherche du bonheur,Green Book,Drame,NaN,drame
1,24/10/2022 16:28,Un homme,18-25 ans,Plus de 5,3,4,3,3,5,2,...,5,2,4,3,4,Avengers,NaN,Science fiction,Action,NaN
2,24/10/2022 17:11,Une femme,18-25 ans,Entre 1 et 3,3,2,3,2,5,2,...,3,3,5,3,4,Azur & Asmar,NaN,Film d'animation,NaN,NaN
3,24/10/2022 17:18,Une femme,18-25 ans,Entre 1 et 3,1,2,4,4,1,4,...,4,1,1,1,3,Brice de Nice,NaN,Comedie,NaN,NaN
4,24/10/2022 15:51,Un homme,18-25 ans,0,2,3,4,4,5,4,...,3,3,3,3,4,Coach Carter,NaN,Comedie,Drame,NaN
5,24/10/2022 17:11,Un homme,25-30 ans,0,3,4,4,2,4,2,...,3,4,4,3,4,Coach Carter,NaN,Comedie,Drame,NaN
6,24/10/2022 15:02,Un homme,18-25 ans,Plus de 5,1,1,5,5,5,4,...,3,1,1,1,4,Divergente,NaN,Science fiction,Action,NaN
7,24/10/2022 15:04,Un homme,18-25 ans,Entre 1 et 3,3,4,3,2,4,1,...,5,3,4,1,3,Django Unchained,NaN,Drame,NaN,NaN
8,24/10/2022 14:51,Un homme,18-25 ans,Entre 1 et 3,3,4,4,3,3,3,...,5,2,2,2,3,Django Unchained,NaN,Drame,NaN,NaN
9,24/10/2022 15:18,Un homme,18-25 ans,Entre 1 et 3,4,2,5,4,5,4,...,4,1,1,2,3,Fatal,NaN,Comedie,NaN,NaN
10,24/10/2022 15:09,Un homme,18-25 ans,Plus de 5,3,4,5,1,5,2,...,5,3,5,2,4,Fight club,NaN,Drame,NaN,NaN
11,24/10/2022 18:58,Une femme,18-25 ans,Entre 1 et 3,3,2,2,2,4,2,...,4,3,5,3,3,Fight club,NaN,Drame,NaN,NaN
12,24/10/2022 17:43,Une femme,18-25 ans,Entre 1 et 3,3,2,1,4,5,4,...,2,1,4,2,3,Flight,NaN,Drame,NaN,NaN
13,24/10/2022 16:44,Une femme,Plus de 50 ans,Entre 1 et 3,2,4,1,2,2,2,...,3,5,3,3,2,Good morning England,NaN,Comedie,NaN,NaN
14,24/10/2022 15:13,Un homme,18-25 ans,Entre 3 et 5,4,4,3,4,5,2,...,4,3,4,5,2,How High,NaN,Comedie,NaN,NaN
15,24/10/2022 15:01,Un homme,18-25 ans,Entre 1 et 3,4,5,3,3,5,3,...,5,5,5,5,5,Il Etait une fois en Amérique,NaN,Drame,NaN,NaN
16,24/10/2022 17:53,Une femme,18-25 ans,Entre 1 et 3,3,3,1,3,5,1,...,4,3,4,3,3,Imitation game,NaN,Drame,NaN,NaN
17,24/10/2022 15:46,Un homme,18-25 ans,Entre 1 et 3,5,5,3,3,4,2,...,5,3,5,3,2,Inglourious basterds,NaN,Drame,NaN,NaN
18,24/10/2022 15:35,Un homme,25-30 ans,Entre 1 et 3,5,4,3,3,5,3,...,3,3,4,3,5,Je suis une légende,NaN,Drame,NaN,NaN
19,24/10/2022 15:53,Un homme,25-30 ans,Entre 1 et 3,2,1,4,3,5,1,...,3,4,3,4,5,Je suis une légende,NaN,Drame,NaN,NaN
20,24/10/2022 15:03,Un homme,18-25 ans,Entre 1 et 3,4,5,5,3,5,2,...,3,3,4,3,2,Joker,NaN,Drame,NaN,NaN
21,24/10/2022 16:09,Un homme,18-25 ans,Entre 1 et 3,3,3,3,4,4,2,...,3,3,4,2,4,Jurassic Park,NaN,SF,NaN,NaN
22,24/10/2022 17:21,Une femme,18-25 ans,Entre 1 et 3,1,1,4,4,5,3,...,3,1,1,2,3,La couleur des sentiments,NaN,Drame,NaN,NaN
23,24/10/2022 15:06,Une femme,18-25 ans,0,5,4,4,3,4,3,...,5,4,5,3,4,La ligne verte,NaN,Drame,NaN,NaN
24,24/10/2022 15:10,Un homme,30-50 ans,0,2,2,4,2,2,2,...,5,5,5,2,4,La ligne verte,NaN,Drame,NaN,NaN
25,24/10/2022 15:03,Un homme,18-25 ans,0,4,2,4,4,5,1,...,5,4,5,3,4,La ligne verte,NaN,Drame,NaN,NaN
26,24/10/2022 19:08,Un homme,Plus de 50 ans,Entre 3 et 5,1,1,1,1,3,1,...,2,5,5,3,1,La nuit du chasseur,NaN,Drame,NaN,NaN
27,24/10/2022 15:49,Une femme,18-25 ans,Entre 1 et 3,3,1,4,5,5,5,...,3,3,1,3,5,La rafle,NaN,Drame,NaN,NaN
28,24/10/2022 15:23,Un homme,18-25 ans,Entre 1 et 3,4,3,5,4,4,5,...,4,2,2,2,2,La soupe aux choux,NaN,Comedie,NaN,NaN
29,24/10/2022 17:24,Un homme,Plus de 50 ans,Entre 1 et 3,4,5,2,3,5,1,...,1,3,5,5,4,Land and freedom,NaN,Drame,NaN,NaN
30,24/10/2022 16:39,Un homme,18-25 ans,Entre 3 et 5,4,2,3,2,4,1,...,5,2,3,2,4,L'auberge espagnole,NaN,Comedie,NaN,NaN
31,24/10/2022 15:19,Une femme,18-25 ans,0,2,3,3,4,4,4,...,3,3,2,3,4,Le chant du loup,NaN,Drame,NaN,NaN
32,24/10/2022 15:16,Un homme,18-25 ans,Entre 1 et 3,4,2,4,2,4,3,...,5,1,2,2,2,Le chant du loup,NaN,Drame,NaN,NaN
33,24/10/2022 15:03,Un homme,18-25 ans,Entre 1 et 3,5,5,5,5,5,3,...,4,3,3,3,3,Le diner de cons,NaN,Comedie,NaN,NaN
34,24/10/2022 18:43,Une femme,30-50 ans,Entre 1 et 3,3,4,4,5,3,4,...,4,4,1,2,2,LE GRAND BLEU,NaN,Drame,NaN,NaN
35,24/10/2022 18:32,Une femme,30-50 ans,Entre 1 et 3,3,3,5,5,2,2,...,4,3,4,4,3,Le péril jeune,NaN,Drame,NaN,NaN
36,24/10/2022 16:40,Une femme,Moins de 18 ans,Entre 1 et 3,1,5,1,3,4,5,...,1,1,5,1,4,Spider-Man: Homecoming,NaN,SF,NaN,NaN
37,24/10/2022 18:19,Une femme,18-25 ans,Entre 1 et 3,1,2,3,4,5,4,...,5,3,1,5,3,1917,NaN,Drame,NaN,NaN
38,24/10/2022 17:43,Un homme,18-25 ans,Entre 1 et 3,1,4,4,5,5,5,...,5,1,1,1,4,Les Tuches,NaN,Comedie,NaN,NaN
39,24/10/2022 15:03,Une femme,18-25 ans,Entre 1 et 3,1,1,1,4,5,5,...,1,1,4,1,2,LOL,NaN,Drame,NaN,NaN
40,24/10/2022 15:22,Une femme,18-25 ans,0,1,1,3,5,5,5,...,2,2,1,1,1,LOL,NaN,Drame,NaN,NaN
41,24/10/2022 16:26,Un homme,18-25 ans,Entre 1 et 3,3,4,3,3,5,3,...,3,2,4,3,3,Mad Max,NaN,SF,NaN,NaN
42,24/10/2022 16:39,Une femme,18-25 ans,Entre 1 et 3,3,2,3,4,4,4,...,2,2,4,2,5,Mamma mia !,NaN,Comedie,NaN,NaN
43,24/10/2022 17:13,Une femme,18-25 ans,Entre 1 et 3,4,5,1,3,5,3,...,3,2,2,1,3,Mamma mia !,NaN,Comedie,NaN,NaN
44,24/10/2022 18:07,Une femme,18-25 ans,Entre 1 et 3,1,5,4,3,5,3,...,5,4,5,1,4,Mamma mia !,NaN,Comedie,NaN,NaN
45,24/10/2022 16:58,Un homme,25-30 ans,Entre 3 et 5,5,4,3,3,4,1,...,5,4,5,3,5,Nombre 23,NaN,Horreur,NaN,NaN
46,24/10/2022 15:41,Une femme,18-25 ans,Entre 1 et 3,3,1,4,4,4,4,...,5,1,5,1,5,Orgueil et préjugés,Time Out,Drame,SF,NaN
47,24/10/2022 16:18,Un homme,18-25 ans,Entre 1 et 3,5,1,3,3,4,2,...,4,4,5,2,3,Oss 117: Le Caire nid d'espions,The game,Comedie,Drame,NaN
48,24/10/2022 15:06,Une femme,18-25 ans,Entre 1 et 3,1,3,2,4,5,4,...,1,1,1,1,2,A la recherche du bonheur,NaN,Drame,NaN,NaN
49,24/10/2022 15:10,Une femme,18-25 ans,Entre 1 et 3,4,1,3,3,4,3,...,4,1,3,3,3,Saga le seigneur des anneaux,NaN,SF,NaN,NaN
50,24/10/2022 15:04,Un homme,18-25 ans,0,4,4,1,2,5,3,...,3,3,3,1,3,Seul sur Mars,NaN,SF,NaN,NaN
51,24/10/2022 15:01,Une femme,18-25 ans,Entre 1 et 3,4,5,4,3,5,3,...,5,3,5,2,3,Shutter Island,NaN,Drame,NaN,NaN
52,24/10/2022 15:07,Une femme,18-25 ans,Entre 1 et 3,4,3,4,4,5,3,...,5,3,4,3,4,Shutter Island,NaN,Drame,NaN,NaN
53,24/10/2022 15:28,Une femme,18-25 ans,Entre 1 et 3,5,1,2,1,1,1,...,3,5,5,3,3,Shutter Island,NaN,Drame,NaN,NaN
54,24/10/2022 16:01,Un homme,18-25 ans,0,4,5,2,3,4,3,...,5,4,5,3,3,Star Wars III : La Revanche des Siths,Prisoners,SF,NaN,NaN
55,24/10/2022 16:02,Une femme,18-25 ans,Entre 1 et 3,4,3,3,4,5,1,...,5,4,5,3,5,The Father,NaN,Drame,NaN,NaN
56,24/10/2022 18:06,Une femme,18-25 ans,Entre 3 et 5,3,2,5,1,5,3,...,4,4,5,4,5,The Holidays,NaN,Comedie,NaN,NaN
57,24/10/2022 17:29,Un homme,18-25 ans,Entre 1 et 3,2,4,3,1,3,1,...,3,4,5,5,4,The tree of life,NaN,Drame,NaN,NaN
58,24/10/2022 17:23,Une femme,18-25 ans,0,1,2,5,3,5,2,...,5,2,4,3,2,tu ne tueras point,NaN,Drame,NaN,NaN
59,24/10/2022 18:43,Un homme,18-25 ans,Entre 1 et 3,4,4,3,3,5,1,...,5,4,4,5,3,Usual suspect,NaN,Drame,NaN,NaN