# Import packages

In [66]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

# Load Data

In [67]:
df = pd.read_csv('data/raw_data.csv', index_col='user_id')
df = df.iloc[:, 3:]
df

,Gims,Kaaris,Maes,Booba,Ninho,Guy2bezbar,Leto,Koba la D,Damso,Freeze Corleone,Vald,Nekfeu,Zola,JUL,Niska,Sofiane,Fresh,Lomepal,Hamza,Laylow
user_id,,,,,,,,,,,,,,,,,,,,
1,2,3,3,2,5,5,4,5,5,3,4,4,5,1,5,3,3,1,3,3
2,2,2,3,2,3,1,3,2,4,3,3,5,3,2,4,3,1,3,3,5
3,2,2,4,3,3,1,3,2,5,5,4,5,4,4,4,4,1,2,2,4
4,2,3,3,2,4,3,4,4,2,4,5,4,5,1,2,2,1,3,2,4
5,2,2,3,3,5,3,4,3,4,5,3,4,3,2,4,3,3,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
136,1,1,2,1,2,2,2,2,2,2,2,2,2,1,2,2,2,2,2,2
137,3,1,2,5,5,3,3,1,1,2,2,1,1,4,3,3,2,1,1,1
138,3,1,2,3,2,1,1,2,1,1,1,2,1,2,3,1,1,3,1,1
139,1,2,1,3,2,1,1,3,4,1,3,4,1,3,3,1,1,4,3,1

# Nearest user

In [68]:
df_distance_user = pd.DataFrame(
    squareform(pdist(df.values)),
    columns = df.index,
    index = df.index
)

In [69]:
def get_n_nearest_user(df_distance_user, id_user, n_user):
    distance_one_user = df_distance_user[id_user].sort_values().reset_index()[1:]
    distance_one_user.columns = ['user_id', 'distance']
    list_nearest_user = list(distance_one_user.iloc[:n_user]['user_id'])
    return list_nearest_user

In [70]:
get_n_nearest_user(df_distance_user, id_user=20, n_user=5)

[130, 5, 81, 63, 87]

In [71]:
df.loc[[20, 130, 5, 81, 63, 87]]

,Gims,Kaaris,Maes,Booba,Ninho,Guy2bezbar,Leto,Koba la D,Damso,Freeze Corleone,Vald,Nekfeu,Zola,JUL,Niska,Sofiane,Fresh,Lomepal,Hamza,Laylow
user_id,,,,,,,,,,,,,,,,,,,,
20,1,3,1,3,5,2,3,2,4,5,5,3,2,3,4,3,1,2,2,2
130,2,2,2,2,5,1,2,2,4,4,4,3,3,1,5,3,1,1,3,2
5,2,2,3,3,5,3,4,3,4,5,3,4,3,2,4,3,3,1,3,3
81,2,2,2,4,2,1,1,1,4,4,4,3,1,4,4,3,1,2,3,2
63,1,3,4,4,5,2,3,2,5,5,5,5,3,5,4,1,1,1,3,2
87,1,2,4,1,5,1,3,3,4,3,5,4,3,2,4,3,1,3,3,1

In [ ]:
correlation_matrix = df.corr()
correlation_matrix